.media {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  padding: 5px;
  margin: 20px;
  background-color: grey;
  border-radius: 10px;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.media:hover {
  background-color: bisque;
  color: black;
  transform: scale(1.1);
    z-index: 5;
}

.poster {
  border-radius: 10px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 17px;
  padding: 8px 0;
  color: black;
}

.subTitle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
  padding: 0 2px;
  padding-bottom: 3px;
  color: black;
}

@media screen and (max-width: 1400px) {
  .media {
    width: 285px;
    padding: 8px;
    margin: 20px;
  }
  }

@media screen and (max-width: 1200px) {
  .media {
    width: 235px;
    padding: 8px;
    margin: 20px;
  }
  }

@media screen and (max-width: 435px) {
.media {
  width: 150px;
  padding: 8px;
  margin: 20px;
}
}
@media screen and (max-width: 380px) {
  .media {
    width: 125px;
    padding: 8px;
    margin: 20px;
  }
  }